body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #f8a1a1, #ee6565, #ff0000);
    color: #333;
    background-image: url('https://s3.eu-west-2.amazonaws.com/img.creativepool.com/files/candidate/portfolio/full/1357867.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  #admin-task, #quiz-task {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff9f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #ff0019;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"], input[type="radio"], button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #ff0000;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e60000;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ddddddac;
    text-align: center;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #ff0000;
    color: white;
  }
  
  .btn {
    padding: 10px;
    background-color: #201d1d9d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #f73636;
  }
  
  .timer, #results {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .progress-bar-container {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #007bff;
    width: 0%;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
